.redact {
  position: relative;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.redact div {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  left: 0;
  top: 0;
  margin: 0;
  padding-top: 50px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.8);
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.redact:hover div {
  opacity: 0;
}
.redact div::after {
  content: "Hover to Display";
}
